<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Parent mobile:</strong>
    <%= student.parent_mobile %>
  </p>

  <p>
    <strong>Student mobile:</strong>
    <%= student.student_mobile %>
  </p>

  <p>
    <strong>City:</strong>
    <%= student.city %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= student.parent_id %>
  </p>

</div>
